body {
    margin: 0;
    background-color: #101010;
}

canvas {
    max-height: 2400px;
    min-height: 100%;
}
#scrollingDiv {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}
.about-text {
    font-family: 'Courier New', Courier, monospace;
}

#overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.5s;
}
#overlay:hover {
    opacity: 1;
}
#overlayText {
    color: white;
    font-size: 16px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}
.overlayButtons {
    text-align: right;
    padding-left: 20px;
}
.overlayIcon {
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-left: 10px;
}