body {
    margin: 0;
    background-color: #101010;
}

canvas {
    max-height: 2400px;
    min-height: 100%;
}
#scrollingDiv {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    transition: visibility 0.5s, opacity 0.5s;
}
#footer:hover {
    opacity: 1;
}
#statusText {
    color: white;
    font-size: 16px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}
#footerButtons {
    text-align: right;
}
.footer-icon {
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin: 0 8px;
}
.full-screen-icon {
    margin-right:0px;
}
.modal-content {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 100px;
    font-family: 'REM', sans-serif;
}
.modal-backdrop {
    opacity:0.6 !important;
}
.about-text {
    text-shadow: black 0 0 1px;
    font-weight: 300;
    font-size: 17px;
}
.btn-secondary {
    --bs-btn-bg: transparent !important;
}
