body {
    margin: 0;
    background-color: #101010;
}

canvas {
    max-height: 2400px;
    min-height: 100%;
}
#scrollingDiv {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}
#applicationTitle {
    position: absolute; /* Positions the div in relation to its parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Inder', sans-serif;
    text-shadow: black 0 0 2px, black 0 0 4px;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
    pointer-events:none;
}
#applicationTitle h1 {
    font-size: 40px;
}
#applicationTitle h2 {
    font-size: 20px;
}
#applicationTitle h3 {
    font-size: 18px;
    margin:100px 0 0;
}
#toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: visibility 0.5s, opacity 0.5s;
}
#toolbar:hover {
    opacity: 1;
}
#statusText {
    color: white;
    font-size: 16px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}
#toolbarButtons {
    text-align: right;
}
.toolbar-icon {
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin: 0 8px;
}
#settingsMenuDropdown {
    vertical-align: inherit;
}
#fullscreenIcon {
    margin-right:0px;
}
.modal-content {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 100px;
    font-family: 'REM', sans-serif;
    --bs-body-bg: rgb(0,0,0,0.5);
    --bs-border-color: #dee2e6;
}
.modal-backdrop {
    opacity:0.6 !important;
}
.about-text {
    text-shadow: black 0 0 1px;
    font-weight: 300;
    font-size: 17px;
}
.btn-secondary {
    --bs-btn-bg: rgb(255,255,255,0.2) !important;
}
